@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-style {
    background-color: #fff;
    border-radius: 40%;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
      0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .abbreviation {
    position: relative;
  }

  .abbreviation:hover::after {
    content: attr(data-title);
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 1;
    font-size: 14px;
  }
}
